*{
    margin:0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
.module16problem_solving{
    display: flex;
    flex-direction: column;
}
.calcluter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 8);
    color:white ;
    
}
.input{
    margin: 25px;
}
.input label{
    font-size: 23px;
    font-weight: 700;
}
.input input{
    border: none;
    overflow: hidden;
    outline: none;
    width:100px;
    padding:9px;
    margin-left:15px;
    font-size: larger;
    -moz-appearance: textfield;
}
.ans{
    display: none;
}
.ans h2{
    margin: 7px;

}
.submit input{

    outline: none;
    overflow: hidden;
    padding: 10px;
    font-weight: bolder;
    font-size: 16px;
    margin: 15px;
    border-radius: 10px;

}
.woodCalculator{
    width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#result{
    display: flex;
    
}
.woodCalculator .submit input{
    background: black;
    color: white;
    outline: none;
    overflow: hidden;
    padding: 10px;
    font-weight: bolder;
    font-size: 16px;
    margin: 15px;
    border-radius: 10px;
}
#note {
    color: red;
}
.input_section .input input {
    background-color: black;
    color: white;

}
.brickCalclutor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 8);
    color:white ;
    
}
#ans_section{
    display: none;
}
#ans_section span{
    font-size: larger;
    font-weight: bolder;
}
#error{
    display: none;
}
.animal_countrer{
    
    width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.animal_countrer input{
    border: none;
    overflow: hidden;
    outline: none;
    width:100px;
    padding:9px;
    margin-left:15px;
    font-size: larger;
    background-color: black;
    color: white;
    -moz-appearance: textfield;
}